.profile {
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: center;
    box-sizing: border-box;
}

@media (max-width: 870px) {
    .profile {
        margin: 0 auto;
    }
}

@media (max-width: 590px) {
    .profile {
        flex-direction: column;
        width: calc(100% - 38px);
    }
}