.element {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity .5s;
}